name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          cd app
          npm install  # <-- usa install (ignora lockfile issues)

      - name: Run unit tests
        run: |
          cd app
          npm test -- --coverage --watchAll=false

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: app
          start: npm start
          wait-on: 'http://localhost: 3000'
          wait-on-timeout: 120

      - name: Build & Push Docker
        run: |
          cd app
          docker build -t ghcr.io/${{ github.repository }}/todo-app:latest .
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ghcr.io/${{ github.repository }}/todo-app:latest

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=walther001_devops-mba-cicd-aks
            -Dsonar.organization=walther001
            -Dsonar.sources=app/src
            -Dsonar.tests=app/src
            -Dsonar.test.inclusions=**/*.test.tsx,**/*.test.ts,**/*.cy.ts
            -Dsonar.javascript.lcov.reportPaths=app/coverage/lcov.info
